
/****** Object:  Table [dbo].[Customers]    Script Date: 3/18/2025 9:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Age] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[DebtID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DebtType] [int] NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DebtDate] [datetime] NULL,
	[Description] [text] NULL,
	[Evident] [text] NULL,
	[Payload] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DebtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NULL,
	[ProductId] [int] NULL,
	[UnitPrice] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[Description] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[AmountPerKg] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Payment] [decimal](18, 0) NULL,
	[CustomerId] [int] NULL,
	[UserId] [int] NULL,
	[Type] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[PaidAmount] [decimal](18, 0) NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [nvarchar](1000) NULL,
	[Quantity] [int] NULL,
	[ZoneId] [int] NULL,
	[Description] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [smallint] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[IsBanned] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zone]    Script Date: 3/18/2025 9:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [Age], [Address], [PhoneNumber], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, N'Nguyen Van A', N'Male', 30, N'101 Customer St', N'0918123456', 1, CAST(N'2025-03-01T10:25:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [Age], [Address], [PhoneNumber], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (2, N'Tran Thi B', N'Female', 25, N'202 Customer Rd', N'0918123457', 2, CAST(N'2025-03-01T10:30:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [Age], [Address], [PhoneNumber], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (3, N'John Doe', N'Male', 30, N'123 Main St', N'555-1234', NULL, CAST(N'2025-03-13T15:52:33.970' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Debts] ON 

INSERT [dbo].[Debts] ([DebtID], [CustomerID], [DebtType], [Amount], [Note], [DebtDate], [Description], [Evident], [Payload], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, 1, 1, CAST(250000.00 AS Decimal(15, 2)), N'Debt from Invoice 1', CAST(N'2025-03-10T18:00:00.000' AS DateTime), N'Pending payment', NULL, NULL, 2, CAST(N'2025-03-10T18:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Debts] ([DebtID], [CustomerID], [DebtType], [Amount], [Note], [DebtDate], [Description], [Evident], [Payload], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (2, 2, 0, CAST(300000.00 AS Decimal(15, 2)), N'Cleared debt', CAST(N'2025-03-11T09:05:00.000' AS DateTime), N'Payment received', NULL, NULL, 3, CAST(N'2025-03-11T09:05:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Debts] ([DebtID], [CustomerID], [DebtType], [Amount], [Note], [DebtDate], [Description], [Evident], [Payload], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (3, 4, 1, CAST(30000.00 AS Decimal(15, 2)), N'Note for debt 3', CAST(N'2025-03-13T17:44:15.450' AS DateTime), N'Description for debt 3', N'Evident for debt 3', N'Payload for debt 3', 4, CAST(N'2025-03-13T17:44:15.450' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Debts] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [UnitPrice], [Quantity], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [AmountPerKg]) VALUES (1, 1, 1, CAST(50000 AS Decimal(18, 0)), 10, N'Jasmine Rice Purchase', 2, CAST(N'2025-03-10T17:59:00.000' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [UnitPrice], [Quantity], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [AmountPerKg]) VALUES (2, 2, 2, CAST(60000 AS Decimal(18, 0)), 5, N'Sticky Rice Purchase', 3, CAST(N'2025-03-11T09:00:00.000' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [UnitPrice], [Quantity], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [AmountPerKg]) VALUES (3, 4, 4, CAST(300 AS Decimal(18, 0)), 3, N'Description for invoice detail 3', 4, CAST(N'2025-03-13T17:44:10.820' AS DateTime), 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [CreateDate], [Payment], [CustomerId], [UserId], [Type], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [PaidAmount], [Description]) VALUES (1, CAST(N'2025-03-10T17:59:00.000' AS DateTime), CAST(250000 AS Decimal(18, 0)), 1, 2, 0, 1, CAST(N'2025-03-10T17:59:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([Id], [CreateDate], [Payment], [CustomerId], [UserId], [Type], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [PaidAmount], [Description]) VALUES (2, CAST(N'2025-03-11T09:00:00.000' AS DateTime), CAST(300000 AS Decimal(18, 0)), 2, 3, 1, 2, CAST(N'2025-03-11T09:00:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([Id], [CreateDate], [Payment], [CustomerId], [UserId], [Type], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [PaidAmount], [Description]) VALUES (3, CAST(N'2025-03-13T17:44:06.393' AS DateTime), CAST(15000 AS Decimal(18, 0)), 4, 4, 0, 4, CAST(N'2025-03-13T17:44:06.393' AS DateTime), 0, NULL, NULL, CAST(9000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Package] ON 

INSERT [dbo].[Package] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, N'10kg Pack', N'10kg Rice Package', 1, CAST(N'2025-03-01T10:45:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Package] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (2, N'5kg Pack', N'5kg Rice Package', 2, CAST(N'2025-03-01T10:50:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Package] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (3, N'Package 3', N'Description for package 3', 4, CAST(N'2025-03-13T17:44:01.687' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Package] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Image], [Quantity], [ZoneId], [Description], [CreatedDate], [UpdatedDate], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [Amount]) VALUES (1, N'Jasmine Rice', N'jasmine.jpg', 100, 1, N'Premium Jasmine Rice', CAST(N'2025-03-01T10:35:00.000' AS DateTime), CAST(N'2025-03-01T10:35:00.000' AS DateTime), 1, 1, CAST(N'2025-03-01T10:35:00.000' AS DateTime), 0, NULL, 1, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([Id], [Name], [Image], [Quantity], [ZoneId], [Description], [CreatedDate], [UpdatedDate], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [Amount]) VALUES (2, N'Sticky Rice', N'sticky.jpg', 50, 2, N'Sticky Rice for Special Dishes', CAST(N'2025-03-01T10:40:00.000' AS DateTime), CAST(N'2025-03-01T10:40:00.000' AS DateTime), 1, 2, CAST(N'2025-03-01T10:40:00.000' AS DateTime), 0, NULL, 1, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([Id], [Name], [Image], [Quantity], [ZoneId], [Description], [CreatedDate], [UpdatedDate], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy], [Amount]) VALUES (3, N'Product 3', N'http://example.com/product3.jpg', 30, 4, N'Description for product 3', CAST(N'2025-03-13T17:43:55.210' AS DateTime), NULL, 0, 4, CAST(N'2025-03-13T17:43:55.210' AS DateTime), 0, NULL, NULL, CAST(3000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [PhoneNumber], [Address], [Username], [PasswordHash], [Role], [Email], [IsBanned], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, N'Admin User', N'0909123456', N'123 Admin St', N'admin', N'hashedpass1', N'Admin', N'admin@example.com', 0, NULL, CAST(N'2025-03-01T10:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [PhoneNumber], [Address], [Username], [PasswordHash], [Role], [Email], [IsBanned], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (2, N'Owner 1', N'0909123457', N'456 Owner Rd', N'owner1', N'hashedpass2', N'Owner', N'owner1@example.com', 0, 1, CAST(N'2025-03-01T10:05:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [PhoneNumber], [Address], [Username], [PasswordHash], [Role], [Email], [IsBanned], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (3, N'Staff 1', N'0909123458', N'789 Staff Ln', N'staff1', N'hashedpass3', N'Staff', N'staff1@example.com', 0, 1, CAST(N'2025-03-01T10:10:00.000' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Zone] ON 

INSERT [dbo].[Zone] ([Id], [Name], [CreatedDate], [UpdatedDate], [UpdatedBy], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, N'Zone A', CAST(N'2025-03-01T10:15:00.000' AS DateTime), NULL, NULL, 1, 1, CAST(N'2025-03-01T10:15:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Zone] ([Id], [Name], [CreatedDate], [UpdatedDate], [UpdatedBy], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (2, N'Zone B', CAST(N'2025-03-01T10:20:00.000' AS DateTime), NULL, NULL, 1, 1, CAST(N'2025-03-01T10:20:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Zone] ([Id], [Name], [CreatedDate], [UpdatedDate], [UpdatedBy], [Status], [CreatedBy], [CreatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (3, N'Zone 3', CAST(N'2025-03-13T17:43:47.570' AS DateTime), NULL, NULL, 0, 4, CAST(N'2025-03-13T17:43:47.570' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Zone] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E38A171055B]    Script Date: 3/18/2025 9:54:38 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4C6816A9C]    Script Date: 3/18/2025 9:54:38 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E38CC626D0B]    Script Date: 3/18/2025 9:54:38 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT (getdate()) FOR [DebtDate]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Zone] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Zone] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Debts]  WITH NOCHECK ADD  CONSTRAINT [FK_Debts_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_CreatedBy]
GO
ALTER TABLE [dbo].[Debts]  WITH NOCHECK ADD  CONSTRAINT [FK_Debts_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Customers]
GO
ALTER TABLE [dbo].[Debts]  WITH NOCHECK ADD  CONSTRAINT [FK_Debts_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_DeletedBy]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceDetails_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_CreatedBy]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceDetails_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_DeletedBy]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Product]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_CreatedBy]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_DeletedBy]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Package]  WITH NOCHECK ADD  CONSTRAINT [FK_Package_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_CreatedBy]
GO
ALTER TABLE [dbo].[Package]  WITH NOCHECK ADD  CONSTRAINT [FK_Package_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_DeletedBy]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_CreatedBy]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_DeletedBy]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zone] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Zone]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_DeletedBy]
GO
ALTER TABLE [dbo].[Zone]  WITH NOCHECK ADD  CONSTRAINT [FK_Zone_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [FK_Zone_CreatedBy]
GO
ALTER TABLE [dbo].[Zone]  WITH NOCHECK ADD  CONSTRAINT [FK_Zone_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [FK_Zone_DeletedBy]
GO
ALTER TABLE [dbo].[Zone]  WITH NOCHECK ADD  CONSTRAINT [FK_Zone_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [FK_Zone_UpdatedBy]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_Gender] CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_Gender]
GO
ALTER TABLE [dbo].[Debts]  WITH NOCHECK ADD  CONSTRAINT [CK_Debts_DebtType] CHECK  (([DebtType]=(1) OR [DebtType]=(0)))
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [CK_Debts_DebtType]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Admin' OR [Role]='Owner' OR [Role]='Staff'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
